/Winform/bin
/Winform/obj
/BusinessService/bin
/BusinessService/obj
/DataAccess/bin
/DataAccess/obj
/DomainModule/bin
/DomainModule/obj
/Utility/bin
/Utility/obj
/ViewModel/bin
/ViewModel/obj
/BackgroundControl/bin
/BackgroundControl/obj